<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cc-functi0napp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d60ee740-66ec-4a54-8c88-e40cea7d38ff/resourceGroups/rg-ccproject/providers/Microsoft.Web/sites/cc-functi0napp</ResourceId>
    <UserName>$cc-functi0napp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cc-functi0napp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>